body{
	background-color: #EEE;
}

.logo {
	width: 30%;
	min-width: 200px;
}

.logoNavBar {
	width: 45px;
}

.panel-body{
	background-color: #e0defe;
}
.panel-login {
	max-width: 300px; 
	float: none;
    margin-left: auto;
    margin-right: auto;
}

.modal-exclude{
	color: #fff;
	background-color: #CC0000;
}

.panel-addIngrediente {
	max-width: 750px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-addUser {
	max-width: 500px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-addPonto{
	max-width: 600px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.panel-addSkills{
	max-width: 800px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.panel-addStakeholder{
	max-width: 400px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.login {
	width: 100%;
}

.addUser, .addIngrediente, .addUnidadeMedida, .addUnidadeMedidaCaseira, .addEmpresa{
	width: 78%;
}

.limparUser, .limpaIngrediente, .limpaUnidadeMedida, .limpaUnidadeMedidaCaseira, .limpaEmpresa{
	width: 20%;
}

.welcome {
    text-align: center;
    color: #419641;
    font-size: 28px; 
    margin-top: 10px;
}

.ages{
	color: #ae0057;
}

.red{
	color: red;
	font-weigth: bold
}

.modal-ages{
	color: #fff;
	background-color: #419641;
}

.margin-top {
	margin-top: 20px;
}

.titulo-skill{
	font-size: 18px;
	padding: 0px;
	margin: 0 0 4px 240px;
}

/* ========================== */
/* Para o About 			  */
/* ========================== */

.logosAbout {
   width:100px;
   height:100px;
   margin: 0 auto;
}
.panel-about {
	max-width: 500px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
 
.titulo {   
    color: #ae0057;
    font-weight: bold;
    font-size: 20px;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: green;
    border-color: green;
}

a{
	color: green;
}

.btn-exclude {
  color: #fff;
  background-color: #CC0000;
  border-color: #990000;
}

.btn-exclude.focus {
  color: #fff;
  background-color: #990000;
  border-color: #660000;
}
.btn-exclude:hover {
  color: #fff;
  background-color: #990000;
  border-color: #660000;
}


